<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link to table</title>
</head>
<body>
    <a href="/mentors">Mentors</a><br><br>
    <a href="/all-school">All School</a><br><br>
    <a href="/mentors-by-country">Mentors by country</a><br><br>
    <a href="/contacts">Contacts</a><br><br>
    <a href="/applicants">Applicants</a><br><br>
    <a href="/applicants-and-mentors">Applicants and mentors</a><br><br>
</body>
</html>