<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
</head>
<body>
    <table border="1" width=50%>
            <tr>{% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for line in table %}
                <tr>
                    {% for key in keys %}
                            <td> {{ line[key] }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
</body>
</html>